@charset "UTF-8";
/**
 * @doc drag可拖拽区块
 * @author Heanes
 * @time 2017-03-03 18:50:25 周五
 */
// 窗体展示内容区域样式
// [配置项]，【整体窗体相关样式】
$dragWrapBorderRadius: 3px;
$dragWrapBoxShadow: 1px 1px 24px rgba(0, 0, 0, 0.3);
$dragWrapBorder: 1px solid #3baced;
$dragWrapBgColor: #fff;
//$dragWrapBoxShadow: 0px 0px 10px 4px rgba(130, 130, 130, .5);
// 【拖拽的窗体内容区域的边框样式】
$dragWrapBorderSize: 1px;
$dragWrapBorderStyle: solid;
$dragWrapBorderColor: rgba(248, 233, 104, 0.42);

// [配置项]，【窗体头部相关样式】
$dragHeaderWrapHeight: 30px;
$dragHeaderWrapBgColor: #eee;

$dragOpBtnWidth: 45px;
// [配置项]，【状态栏相关样式】
$dragStatusWrapHeight: 24px;
$dragStatusWrapBgColor: #eee;
$dragStatusWrapColor: #333;
$dragStatusWrapFontSize: 13px;

// [配置项]，【拖拽的窗体内容区域的内边距】
$dragContentWrapPadding: 10px;
// [配置项]，【拖拽的窗体内容区域的边框样式】
$dragContentWrapBorderWidth: 0px;
$dragContentWrapBorderColor: #d6cb8e;
$dragContentWrapBorderStyle: solid;

// 窗体拖拽移动操作区域
// [配置项]，拖拽操作区域高度、背景颜色，前景颜色，边框样式，字体属性等
$dragOperateWrapHeight: 20px;
$dragOperateWrapBgColor: #eee;

// [配置项]窗体拖拽改变窗体大小操作区域
$dragBorderWidth: 4px;

$dragBorderBgColor: rgba(240, 243, 249, 0.44);
$dragBorderBgColor: transparent;

// 窗体展示内容区域样式
// [计算项] 1.【拖拽改变大小的四角的宽高(正方形)】
$dragBorderCornerWidth: 10px;

// [计算项] 2.【整个窗体的宽高】
$dragWrapWidth: 500px;
$dragWrapHeight: 500px;

$dragOpBtnColor: #16701a;
$dragOpBtnHeight: 14px;

.drag-wrap.windows10{
    position: fixed;
    width: $dragWrapWidth;
    height: $dragWrapHeight;
    padding-bottom: $dragHeaderWrapHeight + $dragStatusWrapHeight;
    border: $dragWrapBorder;
    box-shadow: $dragWrapBoxShadow;
    background-color: $dragWrapBgColor;
    border-radius: $dragWrapBorderRadius;
    z-index: 99;

    //头部区域
    .drag-header-wrap{
        position: relative;
        height: $dragHeaderWrapHeight;
        line-height: $dragHeaderWrapHeight;
        background-color: $dragHeaderWrapBgColor;
        user-select: none;

        .drag-header-operate-wrap{
            position: absolute;
        }

        .drag-icon-wrap{
            display: inline-block;
            text-align: center;
            padding-left: 4px;
            .drag-icon{
                width: 1.5em;
                height: $dragHeaderWrapHeight;
                fill: currentColor;
                padding: 2px;
                overflow: hidden;
                font-size: 14px;
                vertical-align: top;
            }
        }

        .drag-title-wrap{
            display: inline-block;
            font-size: 13px;
            text-align: left;
            padding: 0 10px;

            h1,h2,h3,h4,h5,h6{
                margin: 0;
                font-weight: normal;
            }
        }

        .drag-header-operate-wrap{
            top: 0;
            right: 0;
            height: 100%;
            padding-left: 8px;
            cursor: default;
            font-size: 0;
            .drag-op-btn{
                display: inline-block;
                width: $dragOpBtnWidth;
                height: $dragHeaderWrapHeight;
                vertical-align: middle;
                font-size: 12px;
                text-align: center;
                //border-radius: 50%;

                .drag-icon {
                    width: 1em;
                    height: 100%;
                    vertical-align: -.15em;
                    fill: currentColor;
                    overflow: hidden;
                    font-size: 14px;
                    line-height: normal;
                }

                span{
                    display: inline-block;
                    height: $dragOpBtnWidth;
                    line-height: $dragOpBtnWidth - 1;
                    vertical-align: top;
                    color: $dragOpBtnColor;
                }

                &.drag-op-menu-min{
                    &:hover{
                        background-color: #ddd;
                    }
                }
                &.drag-op-menu-max{
                    &:hover{
                        background-color: #ddd;
                    }
                }
                &.drag-op-menu-close{
                    &:hover{
                        background-color: #e81123;
                        color: #fff;
                    }
                }
            }

            &:hover{
                .drag-op-btn{
                    span{
                        display: inline-block;
                    }
                }
            }
        }
    }

    .drag-operate-wrap{
        .drag-border{
            background-color: $dragBorderBgColor;
            z-index: 2;

            &.drag-border-top,
            &.drag-border-bottom,
            &.drag-border-right,
            &.drag-border-left{
                position: absolute;
            }

            // 上下边框，改变窗体高度
            &.drag-border-top,
            &.drag-border-bottom{
                cursor: ns-resize;
                width: 100%;
                left: 0;
            }
            // 上边框，从上方拖动[高度]
            &.drag-border-top{
                top: -$dragBorderWidth/2;;
                height: $dragBorderWidth;
            }
            // 下边框，从上方拖动[高度]
            &.drag-border-bottom{
                bottom: -$dragBorderWidth/2;;
                height: $dragBorderWidth;
            }

            // 左右边框，改变窗体宽度
            &.drag-border-right,
            &.drag-border-left{
                cursor: ew-resize;
                top: 0;
                height: 100%;
            }
            // 左边框，从左方拖动[宽度]
            &.drag-border-left{
                left: -$dragBorderWidth/2;;
                width: $dragBorderWidth;
            }
            // 右边框，从右方拖动[宽度]
            &.drag-border-right{
                right: -$dragBorderWidth/2;;
                width: $dragBorderWidth;
            }

            // 四个角块
            &.drag-border-top-left,
            &.drag-border-top-right,
            &.drag-border-bottom-left,
            &.drag-border-bottom-right{
                position: absolute;
            }
            // 左上角，从左上方同时拖动宽高
            &.drag-border-top-left{
                width: $dragBorderCornerWidth;
                height: $dragBorderCornerWidth;
            }
            // 右上角，从右上方同时拖动宽高
            &.drag-border-top-right{
                width: $dragBorderCornerWidth;
                height: $dragBorderCornerWidth;
            }
            // 左下角，从左下方同时拖动宽高
            &.drag-border-bottom-left{
                width: $dragBorderCornerWidth;
                height: $dragBorderCornerWidth;
            }
            // 右下角，从右下方同时拖动宽高
            &.drag-border-bottom-right{
                width: $dragBorderCornerWidth;
                height: $dragBorderCornerWidth;
            }

            &.drag-border-top-left,
            &.drag-border-top-right{
                top: -$dragBorderCornerWidth/2;
            }
            &.drag-border-top-left,
            &.drag-border-bottom-left{
                left: -$dragBorderCornerWidth/2;
            }
            &.drag-border-top-right,
            &.drag-border-bottom-right{
                right: -$dragBorderCornerWidth/2;
            }
            &.drag-border-bottom-left,
            &.drag-border-bottom-right{
                bottom: -$dragBorderCornerWidth/2;
            }
            &.drag-border-top-left,
            &.drag-border-bottom-right{
                cursor: nwse-resize;
            }
            &.drag-border-bottom-left,
            &.drag-border-top-right{
                cursor: nesw-resize;
            }

            // 为调试方便而上色
            // 上边框，从上方拖动[高度]
            /*&.drag-border-top{
                background-color: #efdfed;
            }
            // 下边框，从上方拖动[高度]
            &.drag-border-bottom{
                background-color: #89ce56;
            }
            // 左边框，从左方拖动[宽度]
            &.drag-border-left{
                background-color: #cdef75;
            }
            // 右边框，从右方拖动[宽度]
            &.drag-border-right{
                background-color: #a7bbef;
            }
            // 左上角，从左上方同时拖动宽高
            &.drag-border-top-left{
                background-color: #a7bbef;
            }
            // 右上角，从右上方同时拖动宽高
            &.drag-border-top-right{
                background-color: #d866ef;
            }
            // 左下角，从左下方同时拖动宽高
            &.drag-border-bottom-left{
                background-color: #89ef5a;
            }
            // 右下角，从右下方同时拖动宽高
            &.drag-border-bottom-right{
                background-color: #ef7f44;
            }*/
        }
    }

    .drag-content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        padding: $dragContentWrapPadding;
        border: $dragContentWrapBorderWidth $dragWrapBorderStyle $dragContentWrapBorderColor;

        /* 当窗体大小变得太小时，原始内容应出现滚动条 */
        overflow:auto;
    }

    .drag-status-wrap{
        position: relative;
        height: $dragStatusWrapHeight;
        padding: 0 4px;
        background-color: $dragStatusWrapBgColor;
        color: $dragStatusWrapColor;
        font-size: $dragStatusWrapFontSize;
        line-height: $dragStatusWrapHeight;


        .drag-status-bar{
            height: 100%;
            overflow: auto;

            .info-item{
                margin-right: 10px;

                .field{
                    margin: 0 4px;
                }
            }
        }
    }

    // 窗体边框圆角内部样式修正
    > div:first-child{
        border-top-left-radius: $dragWrapBorderRadius - 1;
        border-top-right-radius: $dragWrapBorderRadius - 1;
    }
    > div:nth-last-child(3){
        border-bottom-left-radius: $dragWrapBorderRadius - 1;
        border-bottom-right-radius: $dragWrapBorderRadius - 1;
    }

    // 最小化
    &.drag-min-size{
        padding: 0;
        .drag-content-wrap,
        .drag-status-wrap{
            display: none;
        }
    }
    // 最大化
    &.drag-max-size{
        width: 100%;
        height: 100%;
    }

    .drag-window-move-shade {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 2;
    }

    .drag-mouse-preventDefault {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: transparent;
        z-index: 2;
    }
}