@charset "UTF-8";
/**
 * @doc drag可拖拽区块
 * @author Heanes
 * @time 2017-03-03 18:50:25 周五
 */
.drag-wrap.windows10 {
  position: fixed;
  width: 500px;
  height: 500px;
  padding-bottom: 54px;
  border: 1px solid #3baced;
  box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 3px;
  z-index: 99; }
  .drag-wrap.windows10 .drag-header-wrap {
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    user-select: none; }
    .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap {
      position: absolute; }
    .drag-wrap.windows10 .drag-header-wrap .drag-icon-wrap {
      display: inline-block;
      text-align: center;
      padding-left: 4px; }
      .drag-wrap.windows10 .drag-header-wrap .drag-icon-wrap .drag-icon {
        width: 1.5em;
        height: 30px;
        fill: currentColor;
        padding: 2px;
        overflow: hidden;
        font-size: 14px;
        vertical-align: top; }
    .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap {
      display: inline-block;
      font-size: 13px;
      text-align: left;
      padding: 0 10px; }
      .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h1, .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h2, .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h3, .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h4, .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h5, .drag-wrap.windows10 .drag-header-wrap .drag-title-wrap h6 {
        margin: 0;
        font-weight: normal; }
    .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap {
      top: 0;
      right: 0;
      height: 100%;
      padding-left: 8px;
      cursor: default;
      font-size: 0; }
      .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn {
        display: inline-block;
        width: 45px;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        text-align: center; }
        .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn .drag-icon {
          width: 1em;
          height: 100%;
          vertical-align: -.15em;
          fill: currentColor;
          overflow: hidden;
          font-size: 14px;
          line-height: normal; }
        .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn span {
          display: inline-block;
          height: 45px;
          line-height: 44px;
          vertical-align: top;
          color: #16701a; }
        .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn.drag-op-menu-min:hover {
          background-color: #ddd; }
        .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn.drag-op-menu-max:hover {
          background-color: #ddd; }
        .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap .drag-op-btn.drag-op-menu-close:hover {
          background-color: #e81123;
          color: #fff; }
      .drag-wrap.windows10 .drag-header-wrap .drag-header-operate-wrap:hover .drag-op-btn span {
        display: inline-block; }
  .drag-wrap.windows10 .drag-operate-wrap .drag-border {
    background-color: transparent;
    z-index: 2;
    /*&.drag-border-top{
        background-color: #efdfed;
    }
    // 下边框，从上方拖动[高度]
    &.drag-border-bottom{
        background-color: #89ce56;
    }
    // 左边框，从左方拖动[宽度]
    &.drag-border-left{
        background-color: #cdef75;
    }
    // 右边框，从右方拖动[宽度]
    &.drag-border-right{
        background-color: #a7bbef;
    }
    // 左上角，从左上方同时拖动宽高
    &.drag-border-top-left{
        background-color: #a7bbef;
    }
    // 右上角，从右上方同时拖动宽高
    &.drag-border-top-right{
        background-color: #d866ef;
    }
    // 左下角，从左下方同时拖动宽高
    &.drag-border-bottom-left{
        background-color: #89ef5a;
    }
    // 右下角，从右下方同时拖动宽高
    &.drag-border-bottom-right{
        background-color: #ef7f44;
    }*/ }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-right, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-left {
      position: absolute; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom {
      cursor: ns-resize;
      width: 100%;
      left: 0; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top {
      top: -2px;
      height: 4px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom {
      bottom: -2px;
      height: 4px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-right, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-left {
      cursor: ew-resize;
      top: 0;
      height: 100%; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-left {
      left: -2px;
      width: 4px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-right {
      right: -2px;
      width: 4px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-right, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-right {
      position: absolute; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-left {
      width: 10px;
      height: 10px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-right {
      width: 10px;
      height: 10px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-left {
      width: 10px;
      height: 10px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-right {
      width: 10px;
      height: 10px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-right {
      top: -5px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-left {
      left: -5px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-right, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-right {
      right: -5px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-right {
      bottom: -5px; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-right {
      cursor: nwse-resize; }
    .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap.windows10 .drag-operate-wrap .drag-border.drag-border-top-right {
      cursor: nesw-resize; }
  .drag-wrap.windows10 .drag-content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px solid #d6cb8e;
    /* 当窗体大小变得太小时，原始内容应出现滚动条 */
    overflow: auto; }
  .drag-wrap.windows10 .drag-status-wrap {
    position: relative;
    height: 24px;
    padding: 0 4px;
    background-color: #eee;
    color: #333;
    font-size: 13px;
    line-height: 24px; }
    .drag-wrap.windows10 .drag-status-wrap .drag-status-bar {
      height: 100%;
      overflow: auto; }
      .drag-wrap.windows10 .drag-status-wrap .drag-status-bar .info-item {
        margin-right: 10px; }
        .drag-wrap.windows10 .drag-status-wrap .drag-status-bar .info-item .field {
          margin: 0 4px; }
  .drag-wrap.windows10 > div:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .drag-wrap.windows10 > div:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .drag-wrap.windows10.drag-min-size {
    padding: 0; }
    .drag-wrap.windows10.drag-min-size .drag-content-wrap,
    .drag-wrap.windows10.drag-min-size .drag-status-wrap {
      display: none; }
  .drag-wrap.windows10.drag-max-size {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=draggableView_windows10.css.map */
