@charset "UTF-8";
/**
 * @doc drag可拖拽区块
 * @author Heanes
 * @time 2017-03-03 18:50:25 周五
 */
.drag-wrap {
  /*
  top: $originContentTop - ($dragContentPadding + $dragContentBorderWidth + $dragBorderTopSize + $dragWrapBorderSize + $dragMoveBarHeight);
  left: $originContentLeft - ($dragContentPadding + $dragContentBorderWidth + $dragBorderLeftSize + $dragWrapBorderSize);
  width: $dragWrapWidth;
  height: $dragWrapHeight;
  */ }

.drag-wrap {
  position: absolute;
  display: inline-block;
  /*
  border: $dragWrapBorderSize $dragWrapBorderStyle $dragWrapBorderColor;
  border-radius: $dragBorderRadius;
  box-shadow: $dragWrapBoxShadow;
  */ }

.drag-wrap .drag-operate-wrap .drag-move-bar {
  position: absolute;
  /*
   left: $dragBorderLeftSize;
   top: $dragBorderTopSize;
   width: $dragMoveBarWidth;
   height: $dragMoveBarHeight;
   padding: 0 10px;
   border-style: $dragMoveBarBorderStyle;
   border-color: $dragMoveBarBorderColor;
   border-top-width: $dragMoveBarBorderTopSize;
   border-bottom-width: $dragMoveBarBorderBottomSize;
   border-left-width: $dragMoveBarBorderLeftSize;
   border-right-width: $dragMoveBarBorderRightSize;
   line-height: $dragMoveBarHeight - ($dragMoveBarBorderTopSize + $dragMoveBarBorderBottomSize);
   */
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  background-color: #258cef;
  color: #fff;
  cursor: move;
  z-index: 2; }

.drag-wrap .drag-operate-wrap .drag-move-bar * {
  margin: 0;
  font-size: inherit;
  font-weight: inherit; }

.drag-wrap .drag-content {
  position: absolute;
  /*
  left: $dragBorderLeftSize;
  bottom: $dragBorderBottomSize;
  width: $dragContentWidth;
  height: $dragContentHeight;
  padding: $dragContentPadding;
  border: $dragContentBorderWidth $dragWrapBorderStyle $dragContentBorderColor;*/
  overflow: auto;
  background-color: #ddedf1; }

/* 当窗体大小变得太小时，原始内容应出现滚动条 */
/*.drag-wrap .drag-content > *{overflow:auto;}*/
.drag-wrap .drag-operate-wrap .drag-border {
  background-color: rgba(240, 243, 249, 0.44); }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom, .drag-wrap .drag-operate-wrap .drag-border.drag-border-right, .drag-wrap .drag-operate-wrap .drag-border.drag-border-left {
    position: absolute;
    z-index: 2; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top {
    top: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom {
    bottom: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom {
    cursor: ns-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top {
    /*
    left: $dragBorderCornerTopLeftWidth;
    width: $dragBorderHorizontalWidth;
    height: $dragBorderTopSize;
    */
    cursor: ns-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom {
    /*
    left: $dragBorderCornerBottomLeftWidth;
    width: $dragBorderHorizontalWidth;
    height: $dragBorderBottomSize;
    line-height: $dragBorderBottomSize;
    */
    padding: 0 10px;
    cursor: ns-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-left {
    left: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-right {
    right: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-right, .drag-wrap .drag-operate-wrap .drag-border.drag-border-left {
    cursor: e-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-left {
    /*
    top: $dragBorderCornerTopLeftHeight;
    width: $dragBorderLeftSize;
    height: $dragBorderVerticalHeight;
    */
    cursor: e-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-right {
    /*
    top: $dragBorderCornerTopRightHeight;
    width: $dragBorderRightSize;
    height: $dragBorderVerticalHeight;
    */
    cursor: e-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    position: absolute;
    z-index: 3; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left {
    /*
    width: $dragBorderCornerTopLeftWidth;
    height: $dragBorderCornerTopLeftHeight;
    border-top-left-radius: $dragBorderRadius;
    */ }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right {
    /*
    width: $dragBorderCornerTopRightWidth;
    height: $dragBorderCornerTopRightHeight;
    border-top-right-radius: $dragBorderRadius;
    */ }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left {
    /*
    width: $dragBorderCornerBottomLeftWidth;
    height: $dragBorderCornerBottomLeftHeight;
    border-bottom-left-radius: $dragBorderRadius;
    */ }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    /*
    width: $dragBorderCornerBottomRightWidth;
    height: $dragBorderCornerBottomRightHeight;
    border-bottom-right-radius: $dragBorderRadius;
    */ }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right {
    top: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left {
    left: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    right: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    bottom: 0; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    cursor: nw-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left, .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right {
    cursor: ne-resize; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top {
    background-color: #efdfed; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom {
    background-color: #ceb455; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-left {
    background-color: #cdef75; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-right {
    background-color: #a7bbef; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-left {
    background-color: #a7bbef; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-top-right {
    background-color: #d866ef; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-left {
    background-color: #89ef5a; }
  .drag-wrap .drag-operate-wrap .drag-border.drag-border-bottom-right {
    background-color: #ef7f44; }

.drag-wrap .drag-status-bar {
  color: #fff;
  font-size: 12px; }

.drag-wrap .drag-status-bar .info-item {
  margin-right: 10px; }

.drag-wrap .drag-status-bar .info-item .field {
  margin: 0 4px; }

/*# sourceMappingURL=drag.css.map */
