@charset "UTF-8";
/**
 * @doc demo样式
 * @author Heanes
 * @time 2016-11-30 20:26:03 周三
 */
/****************************** 重设全局样式 ******************************/
html{
  color:#000;
  background:#fff;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  word-break:break-all;
}
html,body{margin:0;padding:0;box-sizing:border-box}
html *,body *{box-sizing:inherit;}
/****************************** 页面样式 ******************************/
.demo-wrap{padding:40px;}
.draggable-demo-dev{
  position:absolute;
  top: 200px;
  left: 200px;
  background-color:rgba(32, 83, 231, 0.35);
  z-index:2;
}
.draggable-demo-normal{
  position:absolute;
  top: 900px;
  left: 200px;
  background-color:rgba(32, 83, 231, 0.35);
  z-index:2;
}
.common-content{
  width: 500px;
  height: 300px;
  padding: 10px;
  font-size: 16px;
}
.something-content-demo{
  position:absolute;
  top: 300px;
  left: 200px;
  background-color:rgba(201, 231, 228, 0.35);
}
.content-wrap{
  text-align:center;
  margin:0 auto;
  width:400px;
  height:400px;
}
.something-content-center-demo{
  position:absolute;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  width:600px;
  margin-left:-300px;
  height:400px;
  margin-top:-200px;
  padding:10px;
  font-size:18px;
  background-color:#fff;
}


.demo-config{
  position:absolute;
  right:10px;
  top:20%;
}