@charset "UTF-8";
/**
 * @doc demo样式
 * @author Heanes
 * @time 2016-11-30 20:26:03 周三
 */
/****************************** 重设全局样式 ******************************/
html{
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html *, body *{
    box-sizing: inherit;
}

/****************************** 页面样式 ******************************/
.demo-wrap{
    padding: 20px;

    .drag-wrap{
        &.drag-wrap-demo{
            display: none;
        }
    }

    .demo-item{
        border-bottom: 1px solid #ddd;

        .drag-demo-table{
            td{
                vertical-align: top;
                &:nth-child(2){
                    padding: 20px;
                }
            }
        }
    }

    .demo-config{

        .demo-config-form{

            .form-group{
                margin: 10px 0;

                .form-field-label{
                    min-width: 120px;
                }

            }
            .form-handle{
                margin: 20px 0;
                text-align: center;
            }
        }
    }
}

.common-content{
    //width: 400px;
    //height: 300px;
    padding: 10px;
    font-size: 14px;
}

$dragWrapWidth: 500px;
$dragWrapHeight: 500px;
.main.window-demo{
    margin-top: 40px;
    .drag-wrap{
        position: relative;
        display: inline-block;
        width: $dragWrapWidth;
        height: $dragWrapHeight;
        margin: 20px;
    }

}